.clear{
	clear:both;
}

.container1{
	width:100%;
	height:200px;
	background:#09F;
	margin-bottom:20px;
}
.block1_1{
	width:100px;
	height:100px;
	background:#F09;
	float:left;
	margin:10px;
}
.block1_2{
	width:100px;
	height:100px;
	background:#F96;
	float:left;
	margin-left:50px;
}
.container2{
	width:100%;
	height:200px;
	background:#09F;
	margin-bottom:20px;
}
.block2_1{
	width:100px;
	height:100px;
	background:#F09;
	float:left;
}
.block2_2{
	width:100px;
	height:100px;
	background:#F96;
	float:right;
}

.container3{
	width:100%;
	height:200px;
	background:#09F;
	margin-bottom:20px;
	padding-left:30px;
	padding-top:10px;
}
.block3_1{
	width:100px;
	height:100px;
	background:#F09;
	float:left;
}
.block3_2{
	width:100px;
	height:100px;
	background:#F96;
	float:left;
}
.container4{
	width:100%;
	height:300px;
	background:#09F;
	margin-bottom:20px;
}
.block4_1{
	width:100px;
	height:100px;
	background:#F09;
	float:left;
}
.block4_2{
	width:100px;
	height:100px;
	background:#F96;
	float:left;
}
.block4_3{
	width:150px;
	height:150px;
	background:#000;
}
.container5{
	width:100%;
	height:300px;
	background:#09F;
	margin-bottom:20px;
}
.block5_1{
	width:100px;
	height:100px;
	background:#F09;
	float:left;
}
.block5_2{
	width:100px;
	height:100px;
	background:#F96;
	float:left;
}
.block5_3{
	width:150px;
	height:150px;
	background:#000;
	clear:both;
}

.container6{
	width:100%;
	background:#09F;
	margin-bottom:20px;
}
.block6_1{
	width:100px;
	height:100px;
	background:#F09;
	float:left;
}
.block6_2{
	width:100px;
	height:100px;
	background:#F96;
	float:left;
}